<header>
    <!-- flex container bootstrap + flexbox-->
    <div class="container header-flex">
        <img class="logotipo" src="/assets/images/logo.svg" alt="texto alternativo" title="Site E-player">

        <!-- flex container -->
        <nav class="menu" id="menu">
            <a class="item-menu" href="#">Início</a>
            <a href="#" class="item-menu">Horários</a>
            <a href="#" class="item-menu">Campeonato</a>
            <a href="#" class="item-menu">Resultados</a>
            <a href="#" class="item-menu">Notícias</a>
        </nav>

        <img class="hamburger-icon" onclick="exibeMenu()" src="/assets/images/bars.svg" alt="">

    </div>

</header>

<main>
   


    
     <section class="banner">
        <div class="container-grid banner-box">
            <article class="banner-info">
                <h2>Liga E-Players</h2>
                <p>O maior portal de Campeonatos online</p>
                <a href="#" class="botao-banner">Inscreva-se</a>
            </article>
        </div>
    </section> 
    

      <section class="patrocinados">
        <div class="container-grid patrocinados-flex">
            <img src="/assets/images/patrocinadores/f1-logo.png" title="link fórmula 1" alt="fórmula 1">
            <img src="/assets/images/patrocinadores/lol-logo.png" alt="jogo lol" title="jogo lol">
            <img src="/assets/images/patrocinadores/cs-logo.png" alt="counter strike" title="counter strike">
            <img src="/assets/images/patrocinadores/valorant.png" alt="valorant" title="valorant">
            <img src="/assets/images/patrocinadores/fifa.png" alt="fifa" title="fifa">
        </div>
    </section>



    
    <section class="produtos">
        <div class="container">

            <div class="row">
                <h2>Produtos</h2>
            </div>


            <div class="row">

                <div class="col col-md-6 col-lg-3 d-flex justify-content-center  justify-content-lg-start">
                    <div class="card">
                        <img src="/assets/images/cardnews.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">jogo do ano</h5>

                            <p class="card-text">Descrição do jogo do ano.</p>
                            <p class="card-title">R$45,00</p>

                            <a href="#" class="btn btn-primary card-buy">Comprar</a>
                        </div>
                    </div>
                </div>

                <div class="col col-md-6 col-lg-3 d-flex justify-content-center  justify-content-lg-start">
                    <div class="card">
                        <img src="/assets/images/cardnews.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">jogo do ano</h5>

                            <p class="card-text">Descrição do jogo do ano.</p>
                            <p class="card-title">R$45,00</p>

                            <a href="#" class="btn btn-primary card-buy">Comprar</a>
                        </div>
                    </div>
                </div>

                <div class="col col-md-6 col-lg-3 d-flex justify-content-center  justify-content-lg-start">
                    <div class="card">
                        <img src="/assets/images/cardnews.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">jogo do ano</h5>

                            <p class="card-text">Descrição do jogo do ano.</p>
                            <p class="card-title">R$45,00</p>

                            <a href="#" class="btn btn-primary card-buy">Comprar</a>
                        </div>
                    </div>
                </div>

                <div class="col col-md-6 col-lg-3 d-flex justify-content-center  justify-content-lg-start">
                    <div class="card">
                        <img src="/assets/images/cardnews.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">jogo do ano</h5>

                            <p class="card-text">Descrição do jogo do ano.</p>
                            <p class="card-title">R$446,00</p>

                            <a href="#" class="btn btn-primary card-buy">Comprar</a>
                        </div>
                    </div>
                </div>
                <div class="col col-md-6 col-lg-3 d-flex justify-content-center  justify-content-lg-start">
                    <div class="card">
                        <img src="/assets/images/cardnews.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">jogo do ano</h5>

                            <p class="card-text">Descrição do jogo do ano.</p>
                            <p class="card-title">R$45,00</p>

                            <a href="#" class="btn btn-primary card-buy">Comprar</a>
                        </div>
                    </div>
                </div>
                <div class="col col-md-6 col-lg-3 d-flex justify-content-center  justify-content-lg-start">
                    <div class="card">
                        <img src="/assets/images/cardnews.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">jogo do ano</h5>

                            <p class="card-text">Descrição do jogo do ano.</p>
                            <p class="card-title">R$45,00</p>

                            <a href="#" class="btn btn-primary card-buy">Comprar</a>
                        </div>
                    </div>
                </div><div class="col col-md-6 col-lg-3 d-flex justify-content-center  justify-content-lg-start">
                    <div class="card">
                        <img src="/assets/images/cardnews.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">jogo do ano</h5>

                            <p class="card-text">Descrição do jogo do ano.</p>
                            <p class="card-title">R$45,00</p>

                            <a href="#" class="btn btn-primary card-buy">Comprar</a>
                        </div>
                    </div>
                </div>

                <div class="col col-md-6 col-lg-3 d-flex justify-content-center  justify-content-lg-start">
                    <div class="card">
                        <img src="/assets/images/cardnews.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">jogo do ano</h5>

                            <p class="card-text">Descrição do jogo do ano.</p>
                            <p class="card-title">R$45,00</p>

                            <a href="#" class="btn btn-primary card-buy">Comprar</a>
                        </div>
                    </div>
                </div>


            </div>


            <section class="participacao">
                <div class="container-grid participacao-box">
                    <article class="banner-info-participacao">
                       <div class="Duvid"><h2 class="Duvidas-particpar">Como participar?</h2>
                        <p class="texto-duvidas">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis esse nihil commodi, libero molestiae a eius odio illum provident quaerat sint tenetur ipsum at ratione ea eveniet sapiente omnis tempore?</p></div> 
                        <img class="campeao-lol" src="/assets/images/campeao-lol.png" alt="">
                    </article>
                    
                </div>
            </section> 
        </div> 
    </section>



</main>




<footer>
    <p>Todos os direitos reservados</p>
</footer>

